*.db*
*/*.db*
*.rar
*.log
*.mdmp

_appdata_/screenshots/steam_autocloud.vdf
_appdata_/savedgames/steam_autocloud.vdf
_appdata_/steam_autocloud.vdf
bin_x64/
backup_gamedates/
gamedata_*/
userdata/screenshots/
userdata/savedgames/
###changed_files###/